.app
  #toolbar
    .button
      font-size: 24px
      width: 38px
      height: 38px
      overflow: hidden
      padding: 0
      color: text-color

  .title
    font-weight: normal
    font-size: 6vw

    @media (min-width: 600px)
      font-size: 36px

  .subtitle
    color: text-color-light
  
  section
    margin: 30px 0
    border-top: 1px solid divider-color
    padding: 15px 0

    .section-title
      text-transform: uppercase
      font-weight: 600
      color: text-color-lighter
      font-size: 11px
      line-height: 15px
      letter-spacing: 1.1px
      margin-bottom: 10px

  .tag
    font-size: 13px
    display: inline-block
    color: tag-color
    border: 1px solid  tag-border-color
    background: tag-bg-color
    padding: 3px 10px
    cursor: pointer
    margin-right: 8px
    margin-bottom: 8px
    border-radius: 2px

    &:hover
      color: tag-color-highlighted
      border: 1px solid tag-border-color-highlighted
      background: tag-bg-color-highlighted

  problem
    display: block
    padding-top: 35px
    padding-bottom: 33px
    border-bottom: 1px solid divider-color

    .tags
      font-family: font-serif
      padding: 5px 0

    .meta
      padding-top: 5px
      font-size: 15px
      color: text-color-light

      .problem-type
        text-transform: uppercase
        font-size: 11px

        &.overdue
          color: #EB901B
        &.new
          color: #3F88EB
        &.review
          color: #629413

    .done-marker
      display: block
      float: right
      width: 24px
      height: 24px
      color: button-color
      border: 1px solid tag-border-color
      background: tag-bg-color
      border-radius: 50%
      text-align: center
      line-height: 24px
      margin-top: 24px
      font-size: 24px

      &.done
        color: white 
        background: done-bg
        border: none

    &.not-touching .swipe-wrapper
      transition: -webkit-transform 200ms ease-out
      transition: transform 200ms ease-out

  .problems problem:last-child
    border-bottom: none

  .not-latest-warning
    color: warn-color
    background: warn-bg-color
    border: 1px solid warn-border-color
    padding: 10px
    margin: 30px 0
    text-align: center
    border-radius: 3px

    a
      color: warn-color
      text-decoration: underline
      font-weight: 600

  .problem-statement
    text-align: justify

    h3
      margin-top: 10px
      margin-bottom: 20px

    ul
      padding-left: 21px

    pre
      width: 100%
      overflow-x: scroll

    p
      margin-bottom: 10px

    table
      text-align: left
      width: 100%
      table-layout:fixed;
      border-spacing: 0;
      border-collapse: collapse;
      word-wrap: break-word

    td
      vertical-align: top

  .star
    text-align: center

    .button
      color: link-color
      border-color: tag-border-color-highlighted

      &:hover
        color: link-color-highlighted
        border-color: link-color

    i.tch-star, i.tch-star-outline
      font-size: 20px
      line-height: 14px

  .load-more
    text-align: center

  .user-actions
    font-size: 18px
    padding-top: 40px

    a
      display: block
      margin: 10px 0
      text-align: right
      height: 30px

      span.button
        float: left
        padding: 0
        width: 30px
        height: 30px
        overflow: hidden
        text-align: center
        line-height: 30px
        font-size: 22px
        vertical-align: middle
        margin-bottom: 3px
        margin-right: 10px

    a.deactivate
      color: warn-color

  .add-comment textarea, .comment>.content
    font-family: font-serif

  .add-comment
    textarea
      border: none
      outline: none
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      width: 100%
      resize: none
      height: 50px
      transition: height ease-in-out 0.1s

    .buttons
      font-size: 14px

      a.close-button
        margin-left: 10px
        color: text-color-lighter

        &:hover
          color: text-color-light

      a.disabled
        color: text-color-lighter
        cursor: normal

  .comments
    margin-top: 40px

  .comment
    .meta
      font-size: 14px
      height: 20px
      line-height: 20px
      color: text-color-light

      .avatar
        display: inline-block
        width: 20px
        height: 20px
        border-radius: 50%
        margin-bottom: 5px
        vertical-align: middle

    .content
      padding: 20px 0
      min-height: 80px
      padding-left: 45px
      white-space: pre-wrap
