* 
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-size: 16px
  font-weight: 400
  font-family: 'Open Sans'
  color: #444

pre, code
  font-family: 'Inconsolata', Mono

article, p
  font-family: 'Source Serif Pro', 'serif'
  color: #333
