* 
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-size: 16px
  font-weight: 400
  font-family: 'Open Sans'
  color: #444

pre, code
  font-family: 'Cutive Mono', Mono

article, p
  font-family: 'Source Serif Pro', 'serif'
  color: #333

h1, h2, h3, h4, h5, h6, b
  font-weight: 600
