.button
  display: inline-block
  text-align: center
  padding: 0 16px
  height: 38px
  line-height: 38px
  font-size: 14px
  position: relative
  outline: 0px none
  color: button-color
  border: 1px solid button-border-color
  border-radius: 19px

  &:hover
    color: button-color-highlighted
    border-color: button-border-color-highlighted
