#loading-bar
  pointer-events: none
  -webkit-pointer-events: none
  -webkit-transition: 350ms ease-out all
  -moz-transition: 350ms ease-out all
  -o-transition: 350ms ease-out all
  transition: 350ms ease-out all

#loading-bar.ng-enter
  opacity: 1

#loading-bar.ng-leave
  opacity: 0

#loading-bar .bar 
  -webkit-transition: width 350ms
  -moz-transition: width 350ms
  -o-transition: width 350ms
  transition: width 350ms

  background: loading-bar-color
  position: fixed
  z-index: 10002
  top: 0
  left: 0
  width: 100%
  height: 2px
  border-bottom-right-radius: 1px
  border-top-right-radius: 1px
