.site-index

  .logo-big
    font-size: 120px
    line-height: 100px
    margin-top: 30px

  .site-abstract
    color: text-color-light
    margin-bottom: 40px

  .site-intro
    margin: 20px 0

  .features
    list-style: none
    margin: 20px 0

    li
      line-height: 24px
      min-height: 24px

      span
        display: block
        margin-left: 28px

      .marker
        display: block
        position: absolute
        height: 18px
        width: 18px
        margin-right: 10px
        margin-top: 4px
        font-size: 16px
        color: tag-color
        background: tag-bg-color
        border: 1px solid tag-border-color
        border-radius: 50%
        text-align: center

  .buttons
    margin: 20px 0
    text-align: center

