#toolbar
  height: 80px
  margin-bottom: 20px
  padding: 10px 0

  .buttons
    text-align: right
    float: right

  .logo
    display: inline-block
    width: 60px
    height: 60px
    font-size: 50px
    line-height: 60px
    color: text-color

