font-sans = 'Open Sans', 'Helvetica Neue', sans-serif
font-serif = 'Source Serif Pro', 'serif'
font-mono = 'Cutive Mono', Mono

text-color = rgba(0, 0, 0, 0.8)
text-color-light = rgba(0, 0, 0, 0.44)
text-color-lighter = rgba(0, 0, 0, 0.3)

link-color = #57AD68
link-color-highlighted = #468C54

tag-color = text-color-light
tag-color-highlighted = link-color-highlighted
tag-bg-color = #FAFAFA
tag-bg-color-highlighted = rgba(87, 173, 104, 0.1)
tag-border-color = #F0F0F0
tag-border-color-highlighted = #A9D8B2

divider-color = rgba(0, 0, 0, 0.15)

button-color = text-color-lighter
button-color-highlighted = rgba(0, 0, 0, 0.6)
button-border-color = divider-color
button-border-color-highlighted = text-color-lighter

warn-color = #FA7548
warn-bg-color = #FFE9E3
warn-border-color = #FFC2B3

loading-bar-color = text-color
spinner-color = text-color-light

