<div class="sheet">
  <div class="sheet-content" ng-if="sheet.sheetData != null">
    <small ng-bind="sheet.date" class="subtitle"></small>
    <h1 ng-bind-template="Problem Sheet #{{ sheet.number }}" class="title"></h1>
    <section class="tags">
      <h2 class="section-title">related tags</h2>
      <div>
        <span ng-repeat="tag in sheet.tags" ng-bind="tag" class="tag"></span>
      </div>
    </section>
    <section class="problems" ng-if="sheet.has_overdue">
      <h2 class="section-title">problems<span class="dot-divider"></span>overdue</h2>
      <div class="assignment" ng-repeat="problem in sheet.problems|filter:{type:'overdue'}:strict|orderBy:'points'">
        <small class="subtitle" ng-bind="problem.date"></small>
        <h3 ng-bind="problem.problemName"></h3>
        <div class="tags" ng-bind="problem.tags"></div>
        <div class="meta">
          <a>Continue reading</a>
          <span class="dot-divider"></span>
          <span ng-bind="problem.points"></span> points
          <span class="dot-divider"></span>
          <span ng-class="problem.type" ng-bind="problem.type" class="problem-type"></span>
        </div>
      </div>
    </section>
    <section class="problems" ng-if="sheet.has_new">
      <h2 class="section-title">problems<span class="dot-divider"></span>new</h2>
      <div class="assignment" ng-repeat="problem in sheet.problems|filter:{type:'new'}|orderBy:'points'">
        <small class="subtitle" ng-bind="problem.date"></small>
        <h3 ng-bind="problem.problemName"></h3>
        <div class="tags" ng-bind="problem.tags"></div>
        <div class="meta">
          <a>Continue reading</a>
          <span class="dot-divider"></span>
          <span ng-bind="problem.points"></span> points
        </div>
      </div>
    </section>
    <section class="problems" ng-if="sheet.has_review">
      <h2 class="section-title">problems<span class="dot-divider"></span>review</h2>
      <div class="assignment" ng-repeat="problem in sheet.problems|filter:{type:'review'}|orderBy:'points'">
        <small class="subtitle" ng-bind="problem.date"></small>
        <h3 ng-bind="problem.problemName"></h3>
        <div class="tags" ng-bind="problem.tags"></div>
        <div class="meta">
          <a>Continue reading</a>
          <span class="dot-divider"></span>
          <span ng-bind="problem.points"></span> points
        </div>
      </div>
    </section>
  </div>
</div>
  </div>
</div>
