<div class="sheet">
  <div class="sheet-content" ng-if="sheet.sheetData != null">
    <small ng-bind="sheet.date" class="subtitle"></small>
    <h1 ng-bind-template="Problem Sheet #{{ sheet.number }}" class="title"></h1>
    <section class="tags">
      <h2 class="section-title">related tags</h2>
      <div>
        <span ng-repeat="tag in sheet.tags" ng-bind="tag" class="tag"></span>
      </div>
    </section>
    <section class="problems" ng-if="sheet.has_overdue">
      <h2 class="section-title">problems<span class="dot-divider"></span>overdue</h2>
      <problem 
        ng-repeat="problem in sheet.problems|filter:{type:'overdue'}:strict|orderBy:'points'"
        problem="problem"
      ></problem>
    </section>
    <section class="problems" ng-if="sheet.has_new">
      <h2 class="section-title">problems<span class="dot-divider"></span>new</h2>
      <problem 
        ng-repeat="problem in sheet.problems|filter:{type:'overdue'}:strict|orderBy:'points'"
        problem="problem"
      ></problem>
    </section>
    <section class="problems" ng-if="sheet.has_review">
      <h2 class="section-title">problems<span class="dot-divider"></span>review</h2>
      <problem 
        ng-repeat="problem in sheet.problems|filter:{type:'overdue'}:strict|orderBy:'points'"
        problem="problem"
      ></problem>
    </section>
  </div>
</div>
  </div>
</div>
