You're receiving this email because you requested a password reset for your user account at {{ domain }}.
{% if user.is_active %}
Please go to the following page and choose a new password: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}.
{% else %}
It seems that your account has been deactivated. We are so sorry that only active users can reset their passwords.   
You may <a href="{{ protocol }}://{{ domain }}{% url 'signup' %}">sign up</a> a new account if you like.
{% endif %}
