{% extends "base.html" %}

{% block content %}
<div>
  <form class="signup-form" action="" method="post">
    {% csrf_token %}
    <p class="title"><i class="tch-logo"></i></p>
    <p>Create a new account</p>
    <input type="input" name="username" value="{{ form.username.value|default:'' }}" placeholder="Username">
    {% if form.username.errors %}
    <ul class="errors">
      {% for error in form.username.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input type="email" name="email" value="{{ form.email.value|default:'' }}" placeholder="Email">
    {% if form.email.errors %}
    <ul class="errors">
      {% for error in form.email.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input type="password" name="password1" placeholder="Password">
    {% if form.password1.errors %}
    <ul class="errors">
      {% for error in form.password1.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input type="password" name="password2" placeholder="Password confirmation">
    {% if form.password2.errors %}
    <ul class="errors">
      {% for error in form.password2.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="button" type="submit" id="submit" value="sign up" />
  </form>
</div>
{% endblock content %}
